<nav class='breadcrumb'>
  <ul>
    <li><%= link_to 'Закупівлі', root_path %></li>
    <li class='active'><em><%= @tender.tender_id %></em></li>
  </ul>
</nav>

<pre>
  <code class='language-json'>
<%= @json.html_safe %>
  </code>
</pre>
