<section class='ui very padded segment'>
  <div class='ui left floated statistic'>
    <div class='value'><%= number_with_delimiter(@total_tenders) %></div>
    <div class='label'>Закупівель</div>
  </div>
  <%= render partial: 'tenders/search' %>
</section>

<div class='ui very padded segment'>
  <div class='ui left floated statistic'>
    <div class='value'><%= number_with_delimiter(@total_companies) %></div>
    <div class='label'>Компаній</div>
  </div>
  <%= render partial: 'companies/search' %>
</section>
