<nav class='ui breadcrumb'>
  <div class='active section'>Компанії</div>
</nav>

<table class='companies-index'>
  <% @companies.each do |c| %>
  <tr>
    <td>
      <%= link_to c.name, company_path(c) %><br/>
      <small class='muted'><%= c.scheme %> <%= c.company_id %></small>
    </td>
  </tr>
  <% end %>
</table>

<%= paginate @companies %>
