@import "kube";

body {
  background-image: linear-gradient($color-default, $color-default);
  background-repeat: repeat-x;
  background-size: 3px 3px;
}

.main {
  margin: 2em auto 3em;
  max-width: 1128px;
  padding: 0 1em;
}

.main-nav {
  margin: 0 0 2em;

  a {
    margin-right: 1em;
  }
}

a {
  text-decoration: none;
}

table {
  font-size: 0.85em;
  line-height: 1.4em;

  tr:last-child td {
    border-bottom: none;
  }
}

.pagination .gap em {
  background-color: transparent;
}

.table-tenders {
  a {
    display: block;
  }

  .label.outline {
    padding: 3px 7px;
    position: relative;
    top: -8px;
  }

  tbody .col-6 {
    padding-top: 1.5em;
  }

  tbody .col-2 {
    padding-top: 35px;
  }

  tbody .col-3 {
    p {
      margin-bottom: 6px;
    }
  }
}

.table-documents {
  th, td {
    padding-top: 10px;
    padding-bottom: 9px;
  }
}

.table-documents-version {
  td {
    padding-left: 1.5em;
  }
}

.company-address {
  font-size: 14px;
  line-height: 1.6em;

  a {
    display: block;
    font-weight: 500;
  }
}
