//= require semantic
//= require_self

.ui.container {
  margin-top: 1em;
  margin-bottom: 3em;
}

.ui.menu {
  margin: 0 -1.15em 1em;
}

.ui.breadcrumb {
  display: block;
  line-height: 2;
  margin-bottom: 2em;

  .icon.button {
    font-size: 0.9em;
    margin-left: 0.25em;
    padding: 0.5em 0.5em 0.4em;
    position: relative;
    top: -1px;

    > .icon {
      color: #aaa;
    }
  }
}

.ui.table.very.padded td > .ui.ribbon.label {
  left: -2.9em;
}

.ui.statistic {
  display: block;

  > .value,
  > .label {
    text-transform: none;
  }
}

// Custom classes

.float-right {
  float: right;
}

.muted {
  color: rgba(0,0,0,0.5) !important;
}

.ribbon + h3 {
  margin: 0.75em 0 0.25em;
}

.tender .ui.statistic {
  margin: 1.5em 0;
}
