//= require semantic
//= require application/tenders
//= require application/tender
//= require application/home
//= require_self

.ui.breadcrumb {
  display: block;
  line-height: 2;
  margin-bottom: 2em;

  .icon.button {
    font-size: 0.9em;
    margin-left: 0.25em;
    padding: 0.5em 0.5em 0.4em;
    position: relative;
    top: -1px;

    > .icon {
      color: #aaa;
    }
  }
}

.ui.table.very.padded td > .ui.ribbon.label {
  left: -2.9em;
}

.form-search {
  margin: 2em auto 1.5em;
  max-width: 45em;
}

.float-right {
  float: right;
}

.muted {
  color: rgba(0,0,0,0.5) !important;
}

.ribbon + h3 {
  margin: 0.75em 0 0.25em;
}

// Reference class: .ui.breadcrumb .divider
.documents .divider {
  display: inline-block;
  opacity: .7;
  margin: 0 .21428571rem;
  font-size: .92857143em;
  color: rgba(0,0,0,.4);
  vertical-align: baseline;
}

@media only screen and (max-width: 767px) {
  .ui.table.very.padded td > .ui.ribbon.label {
    left: -2.05em;
  }

  .ui.pagination.menu .item.page:not(.active) {
    display: none;
  }
}
