<!DOCTYPE html>
<html>
  <head>
    <title>TenderInfo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class='hack'>
    <div class='main container'>
      <%= yield %>
      <footer class='footer'>Version 0.0.1</footer>
    </div>
  </body>
</html>
